/*******************************************************************************
 * フォルダ詳細
 ******************************************************************************/

/**
 * 詳細テーブル。
 */
.FolderDetail .items {
  width: 100%;
  border-collapse: collapse;
  border-bottom: solid 1px #bdc3c7;
}

/**
 * 選択された行。
 */
.FolderDetail .items .selected {
  background-color: #ecf0f1;
}

/**
 * ヘッダー。
 */
.FolderDetail .items-header {
  background-color: #bdc3c7;
  color: #fff;
  font-weight: normal;
  padding: .2em .5em;
}

.FolderDetail .items {
  list-style-type: none;
  padding-left: 0.2em;
  margin: 0;
}

/**
 * アイテム情報。
 */
.FolderDetail .item {
  border-right: solid 1px #bdc3c7;
  padding: .2em .5em;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  .item-name {
    width: 80%;
  }
  .item-date {
    width: 20%
  }
  .item-content{
    padding: 0.5em 0;
    background-color: #eeeeee;
  }
}