
%flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.l-flexbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  @extend %flex-container;
}

/**
 * ツリー部分。explorer.js のターゲット。
 */

.l-LeftSide {
  left: 0;
  top: 0;
  bottom: 0;
  padding: .5em;
  width: 300px;
  height: 100%;
  overflow: scroll;
  background-color: #ecf0f1;
}

.detail-column {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  height: 100%;
}

/**
 * フォルダ詳細。
 */

.folder-detail {
  flex: 1;
  height: 500px;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  border: solid 1px #bdc3c7;
}

.item-preview {
  flex: 1;
  height: 500px;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  border: solid 1px #bdc3c7;
}